<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blabber</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .jumbotron {
      background-color: white;
    }
    .jumbotron h1 {
      margin-left: 3.5%;
    }
    strong {
      color: black;
    }
  </style>

</head>
<body>
  <div class="jumbotron">
    <h1>
      <small><strong>blabber</strong> - property descriptions</small>
    </h1>
  </div>
</body>
</html>
